@import './components/_navigationMenu.css';
@import './components/_card.css';
@import './components/_searchBar.css';
@import './components/_pricingTable.css';

@import './pages/_signUp.css';
@import './pages/_contact.css';

*, 
*::after, 
*::before {
    padding: 0;
    margin: 0;
    box-sizing: inherit;
}
html, body {
    box-sizing: border-box;
    height: 100%;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 400;
    padding: 10px;
    margin: 0;
}
main {
    overflow: hidden;
    margin-top: 0;
}